Flask==0.12.2
stravalib==0.9.4
pandas==0.23.4
numpy==1.15.0
numexpr==2.6.4
sqlalchemy==1.0.13
sqlalchemy-utils==0.32.18
flask-sqlalchemy==2.3.2
geoalchemy2==0.4.0
pygresql==5.0.4
pg8000==1.11.0
pyglfw==0.2.2
geojson==2.3.0
gevent==1.2.2
flask-migrate==2.1.1
static3==0.7.0
wsgiref==0.1.2
requests==2.18.4
gunicorn==19.7.1
psycopg2==2.8.1
flask-debugtoolbar==0.10.1
celery==3.1.23
kombu==3.0.35
redis==2.10.5
healthgraph-api==0.3.0
flask-restful==0.3.6
flask-compress==1.4.0
flask-cache==0.13.1
flask-sslify==0.1.5
flask-wtf==0.14.2
ShopifyAPI==2.5.0
eventlet==0.31.0
flask-CORS==3.0.3
mapbox==0.14.0
boto3==1.4.7
responses==0.5.1
pytest==2.9.1
Flask-Assets==0.12
jsmin==2.2.2
cssmin==0.2.0
unidecode==0.4.21
