<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="footer, links, icons" />

	<title>Distributed Footer</title>

	<link rel="stylesheet" href="css/demo.css">
	<link rel="stylesheet" href="css/footer-distributed.css">
	
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

</head>

	<body>

		<header>

			<h1>Freebie: 5 Responsive Footer Templates</h1>
			<h2><a href="http://tutorialzine.com/2015/01/freebie-5-responsive-footer-templates/">Download</a></h2>

			<ul>
				<li><a href="index.html">Basic Centered</a></li>
				<li><a href="footer-distributed.html" class="active">Distributed</a></li>
				<li><a href="footer-distributed-with-address-and-phones.html">Distributed With Address And Phones</a></li>
				<li><a href="footer-distributed-with-contact-form.html">Distributed With Contact Form</a></li>
				<li><a href="footer-distributed-with-search.html">Distributed With Search</a></li>
			</ul>

		</header>

		<!-- The content of your page would go here. -->

		<footer class="footer-distributed">

			<div class="footer-right">

				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-linkedin"></i></a>
				<a href="#"><i class="fa fa-github"></i></a>

			</div>

			<div class="footer-left">

				<p class="footer-links">
					<a href="#">Home</a>
					·
					<a href="#">Blog</a>
					·
					<a href="#">Pricing</a>
					·
					<a href="#">About</a>
					·
					<a href="#">Faq</a>
					·
					<a href="#">Contact</a>
				</p>

				<p>Company Name &copy; 2015</p>
			</div>

		</footer>

	</body>

</html>
