{% extends "base.html" %} {% block content %}
<style>
div.header {
    background: url(static/img/title_adv_image_151124.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
</style>
<div class="cover">
    <div class="cover-image"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8 text-center" id="Header">
                <h2 class="text-center" id="Header-Title">Athlete Data Viz</h2>
                <p class="lead text-muted" id="subheader-title">Transform your Data Into Art</p>
            </div>
        </div>
        <div class="col-sm-8 text-center">
            <h4> Get Started Now! Click Below to Login with Strava. </h4>
            <br>
            <a href="{{auth_url}}">
                <img src="/static/img/ConnectWithStrava.png" alt="Connect with Strava" title="Connect with Strava">
            </a>
            <br><br> By clicking the link above, you grant read-only access to Athlete Data Viz to your Strava account.
            <br><br>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-8">
                    <p><strong>Available printing types:</strong></p>
                    <p><em>Glass - Metal - Foam - more comming soon</em></p>
                    <p><strong>
                    Supported data types:</strong></p>
                    <p><em>GPS -&nbsp;Power -&nbsp;Heart Rate -&nbsp;Speed -&nbsp;Cadence</em></p>
                    <p><strong>Supported Data Viz Types:</strong></p>
                    <p><em>Heatmaps - more comming soon</em></p>
                    <br>
                </div>
                <div class="col-sm-6">
                    <div class="g-item">
                        <img class="img-responsive" src="static/img/title_adv_image_151124.jpg" alt="" <a data-rel="lightbox" class="overlay" href="">
                        <span>+</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
