{% extends "base.html" %} {% block content %}

<div class="cover">
    <div class="container-fluid">
        <div class="jumbotron text-center">
            <h1> Athlete Data Viz</h1>
            <p class="lead text-muted" id="subheader-title">Transform your Data Into Art</p>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <h4> Get Started Now! Login with Strava. </h4>
                <a href="{{auth_url}}">
                    <img class="img-responsive center-block" src="/static/img/ConnectWithStrava.png" alt="Connect with Strava" title="Connect with Strava">
                </a>
                <br>
                <p> By clicking the link above, you grant read-only access to Athlete Data Viz to your Strava account. </p>
                <br>
                
                <!--
                <h4> Don't have a Strava account? </h4>
                <a href="{{auth_url}}">
                    <img class="img-responsive center-block" alt="Try a Demo without Strava" title="Connect with Strava">
                </a>-->
            </div>
            <div class="col-sm-12">
                <h3> What is Athlete Data Viz? </h3>
                <p> We are a data vizualization service.  
                We create amazing vizuals from your athletics data.</p>
                <h3> How does it work? </h3>
                <p>1) Login and sync your acitivites from Strava.</p>
                <p>2) Design your viz!  Maps, heatmaps, and more.</p>
                <p>3) Share and order prints of your designs!</p>
                <h3> Who can use Athlete Data Viz? </h3>
                <p> Any athlete with a Strava account!  (additional support coming soon) </p>
            </div>
            <div class="col-sm-12 text-center">
            <h3> Athlete Data Viz Gallery </h3>
                <div class="g-item">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                    <li data-target="#myCarousel" data-slide-to="4"></li>
                  </ol>

                  <!-- Wrapper for slides -->
                  <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img class="img-responsive center-block" src="static/img/title_gallery_2.jpg" alt="img2">
                    </div>
                    <div class="item">
                        <img class="img-responsive center-block" src="static/img/title_gallery_3.jpg" alt="img3">
                    </div>
                    <div class="item">
                        <img class="img-responsive center-block" src="static/img/title_gallery_4.jpg" alt="img4">
                    </div>
                    <div class="item">
                        <img class="img-responsive center-block" src="static/img/title_gallery_5.jpg" alt="img5">
                    </div>
                    <div class="item">
                        <img class="img-responsive center-block" src="static/img/title_gallery_6.jpg" alt="img6">
                    </div>

                  </div>

                  <!-- Left and right controls -->
                  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
                </div>
            </div>
            
            <div class="col-sm-12">
                <h3> How can I contact Athlete Data Viz? </h3>
                <p> Contact us on your favorite social media site @athletedataviz, or email us at <a href="mailto:ryanbaumann@athletedataviz.com" target="_top">ryanbaumann@athletedataviz.com</a>  </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
