{% extends "base.html" %} {% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            {% for message in get_flashed_messages() %}
            <div class="alert alert-success" ng-show="get_flashed_messages() != null">
                <a class="close" data-dismiss="alert" aria-label="close"></a>
                <p style="color: red;">{{ message }}</p>
            </div>
            {% endfor %}
            <div id="greeting" class="text-center">
            {% if session.access_token %}
                <div class="col-sm-6 text-center">
                    <h1>Welcome {{ athlete_name }}! </h1>
                </div>
                <br>
                <div class="col-sm-6 text-center">
                    <img class="img-responsive center-block" src="{{ profile_url }}" alt="img5">
                </div>
            {% else %}
                <h3> Please login to continue! </h3>
                <a href="{{auth_url | safe}}">
                <img class="img-responsive center-block" src="/static/img/ConnectWithStrava.png" alt="Connect with Strava" title="Connect with Strava"></a>
                <br>
                <h4> Don't have a Strava Account? </h4>
                <a type="button" class="btn btn-primary" href="{{ url_for('demodesigner') }}" >Try a Demo!</a>
            {% endif %}
            </div>
            <div class="col-sm-6 text-center">
                 <h3> 1) Get your Activities </h3>
                 <p> Select a date range to get Activities from Strava.</p>
                  {% if session.access_token %}
                <form class="form-inline" id="dl_form" action="#">
                <!--<span class="help-block">Enter a Date Range.  Then click "Get Data"</span>-->
                    <div class="form-group">
                        <label for="startDate">Start Date</label>
                        <input type="date" class="form-control" min="2012-00-01" max="2017-00-01" value="2015-01-01" id="startDate">
                    </div>
                    <div class="form-group">
                        <label for="endDate">End Date</label>
                        <input type="date" class="form-control" min="2005-00-00" max="2025-00-30" value="2016-01-01" id="endDate">
                    </div>
                    <br> <br>
                    <button id= 'dl_data_btn' type="submit" class="btn btn-primary text-center" id="getData">Get Data</button>
                </form>
                <div id="progress">&nbsp; </div>
                {% else %}
                <strong> Login to try the activity downloader! </strong>
                {% endif %}
            </div>
            <div class="col-sm-6 text-center">
                <h3> 2) Design your Viz! </h3>
                <p> View heat maps, segment explorers, and more! </p>
                {% if session.access_token %}
                <div id="view_map">
                    <form action="strava_mapbox" method="GET">
                        <input type="submit" class="btn btn-success" value="Viz Designer">
                    </form>
                </div>
                {% else %}
                <strong> Login to try the viz designer! </strong>
                {% endif %}
            </div>
        </div>
    </div>
    <br>
    {% if session.access_token %}
    <br>
    <div class="row">
        <div class="col-sm-6 text-center">
            <h3> View your available Activities </h3>
            <p> Activities you've downloaded that are ready to viz </p>
            <div class="table" id="act_table">
                Loading...
            </div>
        </div>
        <div class="col-sm-6 text-center">
            <h3> Delete your Data </h3>
            <p> Want to wipe your data on ADV?  This will do the trick! </p>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal"> Delete my Data </button>
            <br>
        </div>
    </div>
    {% endif %}
</div>



<!-- Modals -->
<div class="modal fade bs-example-modal-sm text-center" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Delete My Data - Confirmation</h4>
            </div>
            <div class="modal-body">
                <p> Are you sure you want to delete all data? </p>
                This will not effect your Strava account.
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <form class="form-horizontal" action="delete_acts" method="POST">
                    <button  type="submit" class="btn btn-danger">Confirm Deletion</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade text-center" id="loginModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Login to AthleteDataViz</h4>
      </div>
      <div class="modal-body">
        <h4> Connect to Strava </h4>
        <a href="{{auth_url | safe}}">
        <img class="img-responsive center-block" src="/static/img/ConnectWithStrava.png" alt="Connect with Strava" title="Connect with Strava"></a>
        <br>
        <h4> Don't have a Strava Account? </h4>
        <a type="button" class="btn btn-primary" href="{{ url_for('demodesigner') }}" >Try a Demo!</a>
      </div>
    </div>
  </div>
</div>

<script>
     $( document ).ready(function() {

        function get_acts() {
        $.get("{{ current_act_url|safe }}", function(data, status) {
            $('#act_table').html(data);
            });
        }

        $('#dl_form').submit(function() {
            start_long_task();
            return false;
        });
        {% if session.access_token %}
            $('#act_table').on('load', get_acts());
            var today = moment().format('YYYY-MM-DD');
            var threeMonthsAgo = moment().subtract(90, 'days').format('YYYY-MM-DD');
            $('#startDate').val(threeMonthsAgo);
            $('#endDate').val(today);
        {% else %}
            $("#loginModal").modal("show");
        {% endif %}
    });

</script>
{% endblock %}
