{% extends "base.html" %} {% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            {% for message in get_flashed_messages() %}
            <div class="alert alert-success" ng-show="get_flashed_messages() != null">
                <a class="close" data-dismiss="alert" aria-label="close"></a>
                <p style="color: red;">{{ message }}</p>
            </div>
            {% endfor %}
            <div id="greeting" class="text-center">
                <h1>Welcome {{ athlete.firstname }}! </h1>
            </div>
            <h3> 1) Get you Activities </h3>
            <div class="col-xs-12">
                <form class="form-inline" id="dl_form" action="#">
                <span class="help-block">Enter a Date Range.  Then click "Get Data"</span>
                    <div class="form-group">
                        <label for="startDate">Start Date</label>
                        <input type="date" class="form-control" min="2012-00-01" max="2017-00-01" value="2015-01-01" id="startDate">
                    </div>
                    <div class="form-group">
                        <label for="endDate">End Date</label>
                        <input type="date" class="form-control" min="2005-00-00" max="2025-00-30" value="2016-01-01" id="endDate">
                    </div>
                    <div class="form-group">
                        <label for="act_limit">Activity Limit</label>
                        <input type="input" class="form-control" value="50" id="act_limit">
                    </div>
                    <br><br>
                    <button type="submit" class="btn btn-primary" id="getData">Get Data</button>
                </form>
            </div>
            <br>
            <div class="container-fluid">
                <div id="progress">&nbsp; </div>
            </div>
            <h3> 2) View your available Activities </h3>
            <div class="table" id="act_table">
            Loading...
            </div>
            <br>
            <h3> 3) Design your Viz! </h3>
            <div id="view_map">
                <form action="strava_mapbox" method="GET">
                    <input type="submit" class="btn btn-success" value="Viz Designer">
                </form>
            </div>
            <br> <br>
            <h3> Optional - Delete your Data on Athlete Data Viz </h3>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal"> Delete my Data </button>
        </div>
        <div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>
    </div>
</div>



<!-- Modals -->
<div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Delete My Data - Confirmation</h4>
            </div>
            <div class="modal-body">
                <p> Are you sure you want to delete all data? </p>
                This will not effect your Strava account.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <form action="delete_acts" method="POST">
                    <button type="submit" class="btn btn-danger">Confirm Deletion</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
function start_long_task() {
    // add task status elements
    setTimeout('document.getElementById("dl_form").disabled=false;',30000);
    div = $('<div class="progress"><div></div><div>0%</div><div></div><div>&nbsp;</div></div>');
    $('#progress').append(div);

    // create a progress bar
    var nanobar = new Nanobar({
        bg: '#44f',
        target: div[0].childNodes[0]
    });
    var params = {
        startDate: document.getElementById("startDate").value,
        endDate: document.getElementById("endDate").value,
        act_limit: document.getElementById("act_limit").value
    };
    // send ajax POST request to start background job
    $.ajax({
        type: 'POST',
        url: '/longtask',
        data: JSON.stringify(params),
        contentType: 'application/json;charset=UTF-8',
        success: function(data, status, request) {
            status_url = request.getResponseHeader('Location');
            update_progress(status_url, nanobar, div[0]);
        },
        error: function() {
            alert('Unexpected error');
        }
    });
}

function update_progress(status_url, nanobar, status_div) {
    // send GET request to status URL

    $.getJSON(status_url, function(data) {
        // update UI
        percent = parseInt(data['current'] * 100 / data['total']);
        nanobar.go(percent);
        console.log(data['status'])
        $(status_div.childNodes[1]).text(percent + '%');
        $(status_div.childNodes[2]).text("<h4> " + data['status'] + " </h4>");
        if (data['state'] != 'PENDING' && data['state'] != 'PROGRESS') {
            if ('result' in data) {
                // show result
                $(status_div.childNodes[3]).text('Result: ' + data['result']);
            } else {
                // something unexpected happened
                $(status_div.childNodes[3]).text('Result: ' + data['state']);
            }
        } else {
            // rerun in 1 seconds
            setTimeout(function() {
                update_progress(status_url, nanobar, status_div);
                get_acts();
            }, 3000);
        }
    });
}

$('#dl_form').submit(function() {
    start_long_task();
    return false;
});

//Stop the loading bar when ajax requests complete
$(document).one("ajaxStop", function() {
    $("#loading").hide();
});

function get_acts() {
    $.get("{{ current_act_url|safe }}", function(data, status) {
        $('#act_table').html(data);
    });
}

$( document ).ready(function() {
    get_acts();
    var today = moment().format('YYYY-MM-DD');
    var threeMonthsAgo = moment().subtract(90, 'days').format('YYYY-MM-DD');
    $('#startDate').val(threeMonthsAgo);
    $('#endDate').val(today);
});

</script>
{% endblock %}
