{% extends "base.html" %} {% block import_script %}
<!-- Upload images !-->
<script src="/static/js/upload_img.js"></script>
{% endblock %} {% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
        	<h1 class="text-center"> Order ADV - Not Yet Active!  Check back soon!</h1>
        </div>
        <div class="col-sm-6">
        	<img class="img-responsive center-block" width="640" height="480" src="{{img_url}}" alt="ADV Not Found!">
        </div>
        <div class="col-sm-6">
	        {% for message in form.name.errors %}
			  <div class="flash">{{ message }}</div>
			{% endfor %}
			 
			{% for message in form.email.errors %}
			  <div class="flash">{{ message }}</div>
			{% endfor %}
			 
			{% for message in form.subject.errors %}
			  <div class="flash">{{ message }}</div>
			{% endfor %}
			 
			{% for message in form.message.errors %}
			  <div class="flash">{{ message }}</div>
			{% endfor %}

			<form action="{{ url_for('order') }}" method=post>
		    {{ form.hidden_tag() }}
		 
		    {{ form.name.label }}
		    {{ form.name }}
		 
		    {{ form.email.label }}
		    {{ form.email }}
		 
		    {{ form.subject.label }}
		    {{ form.subject }}
		 
		    {{ form.message.label }}
		    {{ form.message }}
		 
		    {{ form.submit }}
			</form>
	  </div>
	</div>
</div>

{% endblock %}
