{% extends "base.html" %} {% block import_script %}
<!-- Mapbox GL -->
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.12.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.12.0/mapbox-gl.css' rel='stylesheet'>
<!-- Mapbox JS -->
<script src='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.css' rel='stylesheet' />
<!-- Leaflet Heat !-->
<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-heat/v0.1.3/leaflet-heat.js'></script>
<!-- Mapbox JS extended to Mapbox GL JS !-->
<script src="/static/js/leaflet-mapbox-gl.js"></script>
<!-- Bootstrap Slider -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/5.2.5/css/bootstrap-slider.min.css">
<script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/5.2.5/bootstrap-slider.min.js'></script>
<!-- Leaflet Image -->
<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-image/v0.0.4/leaflet-image.js'></script>
{% endblock %} {% block content %}
<!-- Sidebar -->
<div id="container">
    <div id="sidebar">
        <div class="sidebar-wrapper">
            <div class="panel panel-default" id="features">
                <div class="panel-heading">
                    <h3 class="panel-title">Map Designer</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-8 col-md-8">
                            <button id='snap' class="btn btn-primary">Save Design</button>
                            <br><br>
                                <div id='snapshot'></div>
                            <br>
                            <form class="Refresh" onclick="render();return false;" id="Refresh">
                                <button class="btn btn-primary">Refresh Map
                                </button>
                            </form>
                            <br>
                            <b>Viz Type</b>
                            <select id='VizType' name="VizType" style="font-size: 20px;">
                                <option value="heat-line">heat-line</option>
                                <option value="heat-point">heat-point</option>
                            </select>
                            <br>
                            <br>
                            <b>Map Style</b>
                            <select id='mapStyle' name="mapStyle" value="dark" style="font-size: 20px;">
                                <option value="dark-nolabel">Dark: no Label</option> 
                                <option value="dark">Dark: Label</option>
                                <option value="basic">Basic</option>
                                <option value="streets">Streets</option>
                                <option value="emerald">Emerald</option>
                                <option value="bright">Bright</option>
                                <option value="light">Light</option>
                                <option value="satellite">Satellite</option>
                            </select>
                            <br><br>
                            <div id="VizType_hide_heat-line" class="collapse in">
                                <b>Line Color</b>
                                <select id='line_color' name="line_color" style="font-size: 18px;">
                                    <option value="#FF0000">Dark Red</option>
                                    <option value="#FFFF00">Dark Yellow</option>
                                    <option value="#0000FF">Dark Blue</option>
                                    <option value="#9900FF">Dark Purple</option>
                                    <option value="#FF0099">Light Pink</option>
                                    <option value="#00CCFF">Light Blue</option>
                                    <option value="#33FF00">Light Green</option>
                                    <option value="#FF9900">Light Orange</option>
                                </select>
                                <br>
                                <br>
                                <b> Line Width </b>
                                <input id="line_width" class="slider" data-slider-id='line_width_slider' type="text" data-slider-min="0.2" data-slider-value="2" data-slider-max="15" data-slider-step="0.1" onclick="render()">
                                <br>
                                <br>
                                <b>Line Opacity</b>
                                <input type="text" class="slider" id="line_opacity" data-slider-min="0.1" data-slider-value="0.5" data-slider-max="1" data-slider-step="0.05" onclick="render()">
                            </div>
                            <div id="VizType_hide_heat-point" class="collapse">
                                <b>Heat Type</b>
                                <select id='heattype' name="line_color" style="font-size: 18px;">
                                    <option value="d">Density</option>
                                    <option value="s">Speed</option>
                                    <option value="g">Grade</option>
                                </select>
                                <br>
                                <br>
                                <b>Heat Color</b>
                                <select id='heat_color' name="heat_color" style="font-size: 18px;">
                                    <option value="heatColors1">Green-Yel-Red</option>
                                    <option value="heatColors2">Intense</option>
                                    <option value="heatColors3">Xmas</option>
                                </select>
                                <br>
                                <br>
                                <b>Heat Blur</b>
                                <input type="text" id="blur" class="slider" data-slider-min="1" data-slider-value="5" data-slider-max="20" data-slider-step="1">
                                <br>
                                <br>
                                <b>Heat Radius</b>
                                <input type="text" id="radius" class="slider" data-slider-min="3" data-slider-value="5" data-slider-max="20" data-slider-step="0.5">
                                <br>
                                <br>
                                <b>Heat Opacity</b>
                                <input type="text" id="minOpacity" class="slider" data-slider-min="0.05" data-slider-value="0.5" data-slider-max="1" data-slider-step="0.05">
                                <br>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id='map'></div>
    <div id="loading">
      <div class="loading-indicator">
        <div class="progress progress-striped active">
          <div class="progress-bar progress-bar-info progress-bar-full"></div>
        </div>
      </div>
    </div>
    <!-- <button data-toggle="collapse" data-target=".navbar-collapse.in" id="sidebar-toggle-btn" class="btn "><i class="fa fa-list white"></i>&nbsp;&nbsp;Map Designer</button> -->
    <button onclick="window.location='http://athletedataviz.com/products';" method='GET' id='render_map'>Order Viz!</button>
    <!-- Create the map -->
    <script>
    //on change of VizType, hide all divs linked to select and show only linked to selected option
    $('#VizType').change(function() {
        var selector = '#VizType_hide_' + $(this).val();
        //hide all elements
        $('#VizType_hide_heat-line').collapse('hide');
        $('#VizType_hide_heat-point').collapse('hide');
        //show only element connected to selected option
        $(selector).collapse('show');
    });
    // API tokens 
    L.mapbox.accessToken = '{{ mapbox_accessToken|safe }}';
    mapboxgl.accessToken = '{{ mapbox_gl_accessToken|safe }}';
    //Global variables
    var heatColors1 = {
        0.1: 'blue',
        0.6: 'cyan',
        0.7: 'lime',
        0.8: 'yellow',
        1.0: 'red'
    };
    var heatColors2 = {
        0.1: 'purple',
        0.6: 'pink',
        0.7: 'blue',
        0.8: 'yellow',
        1.0: 'orange'
    };
    var heatColors3 = {
        0.1: 'green',
        0.6: 'aquamarine',
        0.7: 'blanchedalmond',
        0.8: 'coral',
        1.0: 'red'
    };

    var lineHeatStyle = {
            "id": "linestring",
            "type": "line",
            "source": "linestring",
            "layout": {
                "line-cap": "round",
                "line-join": "round",
                "line-blur" : 100,
            },
            "paint": {
                "line-opacity": parseFloat(document.getElementById("line_opacity").value),
                "line-width": parseFloat(document.getElementById("line_width").value),
                "line-color": document.getElementById("line_color").value
            },
            "transition": {
              "duration": 300,
              "delay": 0
            }

    };
    var center_point = [{{avg_lat | safe}}, {{avg_long | safe}}];
    var heatPoints;
    var stravaLineGeoJson;
    var linestring_src;
    var heat;
    var maxScale;
    var map = L.mapbox.map('map').setView(center_point, 10)
    var dark_style = 'mapbox://styles/mapbox/dark-v8'
    var gl = L.mapboxGL({
            accessToken: mapboxgl.accessToken,
            container: 'map',
            style: dark_style,
            style: 'mapbox://styles/rsbaumann/ciiia74pe00298ulxsin2emmn',
            center: center_point,
            zoom: 9,
            minZoom: 1,
            maxZoom: 20,
            preserveDrawingBuffer: true

    }).addTo(map);
    gl._glMap.dragRotate.disable();
    function getDataHeat() {
        var r = $.Deferred();
        $.getJSON( '{{ heatpoint_url|safe}}' , function(data) {
            heatPointsRaw = JSON.parse(data);
            heatPoints = heatPointsRaw.map(function(p) {
                maxScale = Math.max(p[document.getElementById('heattype').value])
                return [p['lt'], p['lg'],
                    p[document.getElementById('heattype').value]
                ];
            });   
            r.resolve(); 
        });
        return r;
    };
    function getDataLinestring() {
        var r = $.Deferred();
        $.getJSON( '{{heatline_url|safe}}' , function(data) {
            stravaLineGeoJson = JSON.parse(data); 
            r.resolve();
        });
        return r;
    };
    function addLayerHeat() {
        // Mapbox JS Api - import heatmap layer
        var heatConfig = {
            minOpacity: parseFloat(0.5),
            radius: parseFloat(5),
            blur: parseFloat(5),
            max: parseFloat(maxScale),
            gradient: heatColors1
        };
        heat = L.heatLayer(heatPoints, heatConfig).addTo(map);
        map.removeLayer(heat);
    };
    function addLayerLinestring() {
        //Create source for linestrings
        linestring_src = new mapboxgl.GeoJSONSource({
            data: stravaLineGeoJson,
            maxzoom: 17,
            buffer: 10,
            tolerance: 0.5
        });
        //Add linestrings to map and set the visibility to "hidden"
        gl._glMap.addSource('linestring', linestring_src);
        gl._glMap.addLayer(lineHeatStyle);
        render();
    };
    //Load the data asrchnoutsly from api, then add layers to map
    getDataHeat().done(addLayerHeat);
    getDataLinestring().done(addLayerLinestring);
    //Stop the loading bar when ajax requests complete
    $(document).one("ajaxStop", function () {
        $("#loading").hide();
    });
    //snapshot functions 
    document.getElementById('snap').addEventListener('click', function() {
        doImage();
    });
    //////////////// SLIDERS AND BUTTON ACTIONS ////////////
    $('#line_width').slider({
        formatter: function(value) {
            return 'Value: ' + value;
        }
    });
    $('#line_width').slider().on('slide', function(ev) {
        $('#line_width').slider('setValue', ev.value);
        render();
    });
    $('#line_opacity').slider({
        formatter: function(value) {
            return 'Value: ' + value;
        }
    });
    $('#line_opacity').slider().on('slide', function(ev) {
        $('#line_opacity').slider('setValue', ev.value);
        render();
    });
    $('#blur').slider({
        formatter: function(value) {
            return 'Value: ' + value;
        }
    });
    $('#blur').slider().on('slide', function(ev) {
        $('#blur').slider('setValue', ev.value);
        render();
    });
    $('#radius').slider({
        formatter: function(value) {
            return 'Value: ' + value;
        }
    });
    $('#radius').slider().on('slide', function(ev) {
        $('#radius').slider('setValue', ev.value);
        render();
    });
    $('#minOpacity').slider({
        formatter: function(value) {
            return 'Value: ' + value;
        }
    });
    $('#minOpacity').slider().on('slide', function(ev) {
        $('#minOpacity').slider('setValue', ev.value);
        render();
    });
    $('#heat_color').on('click touch tap', render);
    $('#Refresh').on('click touch tap', switchMapStyle);
    $('#Refresh').on('click touch tap', render);
    $('#VizType').on('click touch tap', render);
    $('#mapStyle').on('click touch tap', switchMapStyle);
    $('#heattype').on('click touch tap', render);
    $('#heat_color').on('click touch tap', render);
    $('#line_color').on('click touch tap', render);
    var VizType = 'heat-line'
    var map_style = 'dark'
    function switchLayer() {
        layer = document.getElementById("mapStyle").value
        console.log('previous style: ' + map_style)
        console.log('new style: ' + document.getElementById("mapStyle").value)
        if (layer != 'dark-nolabel') {
            gl._glMap.setStyle('mapbox://styles/mapbox/' + layer + '-v8');
        }
        else { 
            gl._glMap.setStyle('mapbox://styles/rsbaumann/ciiia74pe00298ulxsin2emmn');
        }
        gl._glMap.on('style.load', function () {
            try {addLayerLinestring();}
            catch (err) {console.log(err);}
            try {if (document.getElementById("VizType").value == "heat-line") { 
                     set_visibility('linestring', 'on')}}
            catch (err) {console.log(err);}
            try { paintLayer(document.getElementById("line_color").value,
                        parseFloat($('#line_width').slider('getValue')),
                        parseFloat($('#line_opacity').slider('getValue')),
                        'linestring');} 
            catch (err) {console.log(err);}
        });
    };
    function set_visibility(id, onoff) {
        var visibility = gl._glMap.getLayoutProperty(id, 'visibility');
        if (onoff == 'off') {
            gl._glMap.setLayoutProperty(id, 'visibility', 'none');
        } else if (onoff == 'on') {
            gl._glMap.setLayoutProperty(id, 'visibility', 'visible');
        }
    };
    function paintLayer(color, width, opacity, layer) {
            gl._glMap.setPaintProperty(layer, 'line-color', color);
            gl._glMap.setPaintProperty(layer, 'line-width', width);
            gl._glMap.setPaintProperty(layer, 'line-opacity', opacity);
    }
    function updateHeat() {
        if (document.getElementById("heat_color").value == "heatColors2") {
            heatColors = heatColors2
        } else if (document.getElementById("heat_color").value == "heatColors3") {
            heatColors = heatColors3
        } else {
            heatColors = heatColors1
        }

        heatPoints = heatPointsRaw.map(function(p) {
            maxScale = Math.max(p[document.getElementById('heattype').value])
            return [p['lt'], p['lg'],
                p[document.getElementById('heattype').value]
            ];
        });

        heatConfig = {
            minOpacity: parseFloat($('#minOpacity').slider('getValue')),
            radius: parseFloat($('#radius').slider('getValue')),
            blur: parseFloat($('#blur').slider('getValue')),
            max: parseFloat(maxScale),
            gradient: heatColors
        };
    }
    function switchMapStyle() {
        //Check if the mapStyle changed - if so, change it here
        if (document.getElementById("mapStyle").value != map_style) {
            switchLayer();
            map_style = document.getElementById("mapStyle").value;
        }
    }
    function render() {
        //Check if the viz type changed - if so, change it here  
        if (document.getElementById("VizType").value != VizType) {
            if (document.getElementById("VizType").value == "heat-point") {
                try {
                    set_visibility('linestring', 'off')
                } catch (err) {
                    console.log(err);
                }
                try {
                    heat.addTo(map)
                } catch (err) {
                    console.log(err);
                }
                VizType = 'heat-point'
            } else if (document.getElementById("VizType").value == "heat-line") {
                try {
                    map.removeLayer(heat);
                } catch (err) {
                    console.log(err);
                }
                try {
                    set_visibility('linestring', 'on');
                    paintLayer(document.getElementById("line_color").value,
                        parseFloat($('#line_width').slider('getValue')),
                        parseFloat($('#line_opacity').slider('getValue')),
                        'linestring');
                } catch (err) {
                    console.log(err);
                }
                VizType = 'heat-line'
            }
        //Check if the viz type did not change - if so, update values and render here
        } else if (document.getElementById("VizType").value == VizType) {
            if (VizType == 'heat-point') {
                //update the heatmap
                try {
                    updateHeat();
                    heat.setOptions(heatConfig);
                } catch (err) {
                    console.log(err);
                }
            } else if (VizType == 'heat-line') {
                //Update the linestring layer
                try {
                    paintLayer(document.getElementById("line_color").value,
                        parseFloat($('#line_width').slider('getValue')),
                        parseFloat($('#line_opacity').slider('getValue')),
                        'linestring');
                } catch (err) {
                    console.log(err);
                }
            }
        }
    }
        function log(msg) {
            setTimeout(function() {
                throw new Error(msg);
            }, 0);
        }
        function doImage() {
            console.log('pushed the snapshot!')
            var img = document.createElement('img');
            bounds = gl._glMap.getBounds
            var dimensions = [bounds.getSouth, 
                              bounds.getWest];
            img.width = 150;
            img.height = 150;
            img.src = gl._glMap.getCanvas().toDataURL();
            snapshot.innerHTML = '';
            snapshot.appendChild(img);
        }
    </script>
    {% endblock %}