{% extends "base.html" %} {% block import_script %}
<!-- Mapbox GL -->
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.12.2/mapbox-gl.js' ></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.12.2/mapbox-gl.css' rel='stylesheet'>
<!-- Mapbox JS -->
<script src='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.js' ></script>
<link rel='stylesheet' href='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.css' />
<!-- Leaflet Heat !-->
<script src="https://api.mapbox.com/mapbox.js/plugins/leaflet-heat/v0.1.3/leaflet-heat.js" ></script>
<!-- Bootstrap Slider -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/5.2.5/css/bootstrap-slider.min.css">
<script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/5.2.5/bootstrap-slider.min.js' ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.15/jquery.touchSwipe.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/javascript-canvas-to-blob/3.1.0/js/canvas-to-blob.min.js"></script>
<script src='https://api.mapbox.com/mapbox.js/plugins/geojson-extent/v0.0.1/geojson-extent.js'></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/filesaver.js/0.2/FileSaver.min.js"></script>


{% endblock %} {% block content %}
<!-- Sidebar -->
<div id="container">
    <div id="sidebar">
        <div class="sidebar-wrapper">
            <div class="panel panel-default" id="features">
                <div class="panel-heading">
                    <h3 class="panel-title">Designer Toolbar</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-8 col-md-8">
                            <button type="submit" id='snap' class="btn btn-primary" data-toggle="modal" data-target="#SaveDesign">Save Design</button>
                            <br>
                            <div id="spinner"></div>
                            <br>
                            <!--  <form class="Refresh" onclick="render();return false;" id="Refresh">
                                <button class="btn btn-primary">Refresh Map
                                </button>
                            </form>  -->
                            <br>
                            <b>Viz Type</b>
                            <select id='VizType' name="VizType" style="font-size: 20px;">
                                <option value="heat-line">heat-line</option>
                                <!--<option value="heat-point">heat-point</option>-->
                            </select>
                            <br>
                            <br>
                            <b>Map Style</b>
                            <select id='mapStyle' name="mapStyle" value="dark" style="font-size: 20px;">
                                <option value="dark-nolabel">Dark: no Label</option>
                                <option value="dark">Dark: Label</option>
                                <option value="basic">Basic</option>
                                <option value="streets">Streets</option>
                                <option value="emerald">Emerald</option>
                                <option value="bright">Bright</option>
                                <option value="light">Light</option>
                                <option value="satellite">Satellite</option>
                            </select>
                            <br>
                            <br>
                            <div id="VizType_hide_heat-line" class="collapse in">
                                <b>Line Color</b>
                                <select id='line_color' name="line_color" style="font-size: 18px;">
                                    <option value="#00FFFF">Teal</option>
                                    <option value="#FF0000">Dark Red</option>
                                    <option value="#33FF00">Lime</option>
                                    <option value="#FFFF00">Dark Yellow</option>
                                    <option value="#0000FF">Dark Blue</option>
                                    <option value="#9900FF">Dark Purple</option>
                                    <option value="#FF0099">Light Pink</option>
                                    <option value="#00CCFF">Light Blue</option>
                                    <option value="#33FF00">Light Green</option>
                                    <option value="#FF9900">Light Orange</option>
                                </select>
                                <br>
                                <br>
                                <b> Line Width </b>
                                <input id="line_width" class="slider" data-slider-id='line_width_slider' type="text" data-slider-min="0.5" data-slider-value="2" data-slider-max="6" data-slider-step="0.5" onclick="render()">
                                <br>
                                <br>
                                <b>Line Opacity</b>
                                <input type="text" class="slider" id="line_opacity" data-slider-min="0.1" data-slider-value="0.5" data-slider-max="1" data-slider-step="0.1" onclick="render()">
                            </div>
                            <div id="VizType_hide_heat-point" class="collapse">
                                <b>Heat Type</b>
                                <select id='heattype' name="line_color" style="font-size: 18px;">
                                    <option value="d">Density</option>
                                    <option value="s">Speed</option>
                                    <option value="g">Grade</option>
                                </select>
                                <br>
                                <br>
                                <b>Heat Color</b>
                                <select id='heat_color' name="heat_color" style="font-size: 18px;">
                                    <option value="heatColors1">Green-Yel-Red</option>
                                    <option value="heatColors2">Intense</option>
                                    <option value="heatColors3">Xmas</option>
                                </select>
                                <br>
                                <br>
                                <b>Heat Blur</b>
                                <input type="text" id="blur" class="slider" data-slider-min="1" data-slider-value="5" data-slider-max="20" data-slider-step="1">
                                <br>
                                <br>
                                <b>Heat Radius</b>
                                <input type="text" id="radius" class="slider" data-slider-min="3" data-slider-value="5" data-slider-max="20" data-slider-step="0.5">
                                <br>
                                <br>
                                <b>Heat Opacity</b>
                                <input type="text" id="minOpacity" class="slider" data-slider-min="0.05" data-slider-value="0.5" data-slider-max="1" data-slider-step="0.05">
                                <br>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id='map'></div>
    <div id="loading">
        <div class="loading-indicator">
            <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-info progress-bar-full"></div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="SaveDesign" role="dialog" tabindex="-1" aria-labelledby="SaveDesign">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title text-center">Your Athlete Data Viz creation</h3>
                </div>
                <div class="modal-body">
                    <div id='snapshot'></div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="text-center">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Try a new Design</button>
                            <a type="button" id="download_viz"   class="btn btn-default" href="" >Download </a>
                            <a type="button" id="img_share_url" class="btn btn-default">Share Link </a>
                        </div>
                    </div>
                    <br>
                    <div class="row text-center">
                        <div id="social" class="text-center">
                            <h4> Order and Share your Design! </h4>
                            <div class="my-product-grid">
                                <div class="my-product-row">
                                    <div data-accent_color="767676" data-background_color="ffffff" data-button_background_color="7fb466" data-button_text_color="ffffff" data-cart_button_text="Cart" data-cart_title="Your cart" data-cart_total_text="Total" data-checkout_button_text="Checkout" data-discount_notice_text="Shipping and discount codes are added at checkout." data-embed_type="cart" data-empty_cart_text="Your cart is empty." data-shop="athletedataviz.myshopify.com" data-sticky="true" data-text_color="000000"></div>
                                    <div data-background_color="ffffff" data-button_background_color="7fb466" data-button_text_color="ffffff" data-buy_button_out_of_stock_text="Out of Stock" data-buy_button_product_unavailable_text="Unavailable" data-buy_button_text="Buy Prints" data-collection_handle="frontpage" data-display_size="compact" data-embed_type="collection" data-has_image="true" data-next_page_button_text="Next page" data-product_handle="" data-product_modal="true" data-product_name="" data-product_title_color="000000" data-redirect_to="modal" data-shop="athletedataviz.myshopify.com"></div>
                                    <script type="text/javascript">document.getElementById('ShopifyEmbedScript') || document.write('<script type="text/javascript" src="https://widgets.shopifyapps.com/assets/widgets/embed/client.js" id="ShopifyEmbedScript"><\/script>');</script>
                                </div>
                            </div>
                                <!-- Shares -->
                                <a id="share_fb" class="btnz share facebook" href="https://www.facebook.com/sharer/sharer.php?u=https://athletedataviz-pro.herokuapp.com"><i class="fa fa-facebook text-center"></i> Share</a>
                                <a id="share_gplus" class="btnz share gplus" href="https://plus.google.com/share?url=https://athletedataviz-pro.herokuapp.com"><i class="fa fa-google-plus text-center"></i> Share</a>
                                <a id="share_twit" class="btnz share twitter" href="https://twitter.com/home?status=Check%20out%20custom%20designs%20at%20www.athletedataviz.com"><i class="fa fa-twitter text-center"></i> Tweet</a>
                                <a id="share_pin" class="btnz share pinterest" href="https://pinterest.com/pin/create/button/?url=https://athletedataviz-pro.herokuapp.com&media=https%3A//athletedataviz-pro.herokuapp.com/static/img/title_gallery_3.jpg&description=Check%20out%20my%20custom%20design!"><i class="fa fa-pinterest text-center"></i> Pin it</a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Map Designer Time! -->
    <script>
    //initialize variables from server
    try {
    var center_point = [{{avg_long | safe}}, {{avg_lat | safe}}];
    var heatpoint_url = '{{ heatpoint_url | safe}}';
    var heatline_url = '{{ heatline_url | safe}}';
    var mapbox_accessToken = '{{ mapbox_accessToken|safe }}';
    var mapboxgl_accessToken = '{{ mapbox_gl_accessToken|safe }}';
    var ath_name = '{{ath_name}}';
    }
    catch (err) {
        console.log(err);
        $('#DownloadModal').modal("show");
    }

    $(document).ready(function() {
        $('#sidebar').swipe({
            swipeLeft:function() {
                $('#sidebar').toggle();
                map.resize();
                return false;
            }
        });
        $('#sidebar').swipe({
            swipeRight:function() {
                $('#sidebar').hide();
                map.resize();
                return false;
            }
        });
    });

    $("#sidebar-toggle-btn").click(function() {
        $("#sidebar").toggle();
        map.resize();
        return false;
    });

    $("#sidebar-hide-btn").click(function() {
        $('#sidebar').hide();
        map.resize();
        return false;
    });

    function copyToClipboard(text) {
        window.prompt("A link to your AthleteDataViz design:", text);
    }
    
    </script>
    <script type="text/javascript" src="/static/js/upload_img.js"></script>
    <script type="text/javascript" src="/static/js/adv_viz_designer.js"></script>

    {% endblock %}
