{% extends "base.html" %}

{% block import_script %}

<!-- Mapbox GL -->
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.11.2/mapbox-gl.css' rel='stylesheet' />
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.11.2/mapbox-gl.js'></script>

<!-- Mapbox JS -->
<link href='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.css' rel='stylesheet' />
<script src='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.js'></script>

<!-- Leaflet Heat !-->
<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-heat/v0.1.3/leaflet-heat.js'></script>
<!-- Mapbox JS extended to Mapbox GL JS !-->
<script src="/static/js/leaflet-mapbox-gl.js"></script>

<!-- Bootstrap Slider -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/5.2.5/css/bootstrap-slider.min.css">
<script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/5.2.5/bootstrap-slider.min.js'></script>

{% endblock %}

{% block content %}
<!-- Sidebar -->
<div id="container">
  <div id="sidebar">
    <div class="sidebar-wrapper">
      <div class="panel panel-default" id="features">
        <div class="panel-heading">
          <h3 class="panel-title">Map Designer</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-8 col-md-8">
                <form onclick="render();return false;" class="Refresh" id="Refresh">
                  <button class="btn btn-primary">Refresh Map
                  </button>
                </form>
              <br>
              <b>Viz Type</b>
              <select id='VizType' name="VizType" onclick="render()" style="font-size: 20px;">
                <option value="heat-point">heat-point</option>
                <option value="heat-line">heat-line</option>
              </select>
            <br><br>
            <div id="VizType_hide_heat-point" class="collapse in">
            <b>Heat Type</b>
                <select id='heattype' name="line_color" onclick="render()" style="font-size: 18px;">
                  <option value="d">Density</option>
                  <option value="s">Speed</option>
                  <option value="g">Grade</option>
                </select>
              <br><br>
              <b>Heat Blur</b>
              <input type="text" id="blur" class="slider" data-slider-min="1" data-slider-value="5" data-slider-max="20" data-slider-step="1">
              <br><br>
                  <b>Heat Radius</b>
                  <input type="text" id="radius" class="slider" data-slider-min="3" data-slider-value="5" data-slider-max="20" data-slider-step="0.5">
              <br><br>
                  <b>Heat Opacity</b>
                  <input type="text" id="minOpacity" class="slider" data-slider-min="0.05" data-slider-value="0.5" data-slider-max="1" data-slider-step="0.05">
              <br> <br>
            </div>
            <div id="VizType_hide_heat-line" class="collapse">
              <b>Line Color</b>
              <select id='line_color' name="line_color" onclick="render()" style="font-size: 18px;">
                <option value="#FFFF00">Dark Yellow</option>
                <option value="#FF0000">Dark Red</option>
                <option value="#0000FF">Dark Blue</option>
                <option value="#9900FF">Dark Purple</option>
                <option value="#FF0099">Light Pink</option>
                <option value="#00CCFF">Light Blue</option>
                <option value="#33FF00">Light Green</option>
                <option value="#FF9900">Light Orange</option>
              </select> 
              <br><br>
                <b> Line Width </b>
                <input id="line_width" class="slider" data-slider-id='line_width_slider' type="text" data-slider-min="0.2" data-slider-value="2" data-slider-max="15" data-slider-step="0.1" onclick="render()">
              <br><br>
                <b>Line Opacity</b>
                <input type="text" class="slider" id="line_opacity" data-slider-min="0.1" data-slider-value="0.5" data-slider-max="1" data-slider-step="0.05" onclick="render()">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id='map'></div>

  <button data-toggle="collapse" data-target=".navbar-collapse.in" id="sidebar-toggle-btn" class="btn "><i class="fa fa-list white"></i>&nbsp;&nbsp;Map Designer</button>

  <button onclick="window.location='http://athletedataviz.com/products';" method='GET' id='render_map'>Order Viz!</button>

<!-- Create the map -->
<script>

//on change of VizType, hide all divs linked to select and show only linked to selected option
$('#VizType').change(function(){
    var selector = '#VizType_hide_' + $(this).val();
    console.log(selector)
    //hide all elements
    $('#VizType_hide_heat-line').collapse('hide');
    $('#VizType_hide_heat-point').collapse('hide');
    //show only element connected to selected option
    $(selector).collapse('show');
});

// API tokens 
L.mapbox.accessToken = '{{ mapbox_accessToken|safe }}';
mapboxgl.accessToken = '{{ mapbox_gl_accessToken|safe }}';

// data passed from flask back-end 
var center_point = [{{ avg_lat|safe }}, {{ avg_long|safe }}]
var stravaLineGeoJson = {{ geojson_data|safe }} ;
var heatPointsRaw =  {{ heatpoints|safe }} ; 

// Mapbox JS Api - import heatmap layer
var map = L.map('map').setView(center_point, 10);

heatPoints = heatPointsRaw.map(function (p) { return [p['lt'], p['lg'], 
                           p[document.getElementById('heattype').value]]; });
var heatColors = {
                  0.4: 'blue',
                  0.6: 'cyan',
                  0.7: 'lime',
                  0.8: 'yellow',
                  1.0: 'red'};

var heatConfig = {minOpacity: parseFloat(0.5),
                  radius: parseFloat(5),
                  blur: parseFloat(5),
                  max: 1,
                  gradient: heatColors};

var heat = L.heatLayer(heatPoints, heatConfig).addTo(map);

var gl = L.mapboxGL({
    accessToken: mapboxgl.accessToken,
    container: 'map',
    style: 'mapbox://styles/mapbox/dark-v8',
    center : center_point,
    zoom: 10,
    minZoom: 4,
    maxZoom: 17
}).addTo(map);

var linestring_src = new mapboxgl.GeoJSONSource({
    data: stravaLineGeoJson,
    maxzoom : 17,
    buffer : 5,
    tolerance : 10
});

var lineHeatStyle = {
        "id": "linestring",
        "type": "line",
        "source": "linestring",
        "layout": {
            "line-cap" : "round",
            "line-join": "round"
        },
        "paint": {
            "line-opacity": parseFloat(document.getElementById("line_opacity").value),
            "line-width": parseFloat(document.getElementById("line_width").value),
            "line-color": document.getElementById("line_color").value}
        };

$('#line_width').slider({
  formatter: function(value) {
    return 'Value: ' + value;
  } });
$('#line_width').slider().on('slide', function (ev) {
            $('#line_width').slider('setValue', ev.value);
            render(); });

$('#line_opacity').slider({
  formatter: function(value) {
    return 'Value: ' + value;
  } });
$('#line_opacity').slider().on('slide', function (ev) {
            $('#line_opacity').slider('setValue', ev.value);
            render(); });

$('#blur').slider({
  formatter: function(value) {
    return 'Value: ' + value;
  } });
$('#blur').slider().on('slide', function (ev) {
            $('#blur').slider('setValue', ev.value);
            render(); });

$('#radius').slider({
  formatter: function(value) {
    return 'Value: ' + value;
  } });
$('#radius').slider().on('slide', function (ev) {
            $('#radius').slider('setValue', ev.value);
            render(); });

$('#minOpacity').slider({
  formatter: function(value) {
    return 'Value: ' + value;
  } });
$('#minOpacity').slider().on('slide', function (ev) {
            $('#minOpacity').slider('setValue', ev.value);
            render(); });

function paintLayer(color, width, opacity, layer) {
    gl._glMap.setPaintProperty(layer, 'line-color', color);
    gl._glMap.setPaintProperty(layer, 'line-width', width);
    gl._glMap.setPaintProperty(layer, 'line-opacity', opacity);
}

function updateHeat() {
  heatConfig = {minOpacity: parseFloat($('#minOpacity').slider('getValue')),
                    radius: parseFloat($('#radius').slider('getValue')),
                    blur: parseFloat($('#blur').slider('getValue')),
                    max: 1,
                    gradient: heatColors};
  heatPoints = heatPointsRaw.map(function (p) { return [p['lt'], p['lg'], 
                           p[document.getElementById('heattype').value]]; });
}

function render() {
  //Check if the viz type is a heat point, otherwise remove the existing layer
    if (document.getElementById("VizType").value == "heat-point") {
      try {gl._glMap.removeLayer('linestring');
           gl._glMap.removeSource('linestring');} 
       catch(err) {console.log(err);}
      try { heat.addTo(map)}
       catch(err) {console.log(err);}
    //update the heatmap
    try {
      updateHeat();
      heat.setLatLngs(heatPoints);
      heat.setOptions(heatConfig);
    }
      catch(err) {console.log(err);}
    }
  //Check if the viz type is a heat line, otherwise remove the existing layer
  else if (document.getElementById("VizType").value == "heat-line") {
       try {map.removeLayer(heat);} 
       catch(err) {console.log(err);}
       try {
        gl._glMap.addSource('linestring', linestring_src); 
        gl._glMap.addLayer(lineHeatStyle);}
      catch(err) {console.log(err);}
      //Update the linestring layer
      try {
      paintLayer(document.getElementById("line_color").value, 
                 parseFloat($('#line_width').slider('getValue')),
                 parseFloat($('#line_opacity').slider('getValue')),
                 'linestring');
      }
      catch(err) {console.log(err);}
  }
}
function log(msg) {
    setTimeout(function() {
        throw new Error(msg);
    }, 0);
}

function doImage(err, canvas) {
    var img = document.createElement('img');
    var dimensions = map.getSize();
    img.width = dimensions.x;
    img.height = dimensions.y;
    img.src = canvas.toDataURL();
    snapshot.innerHTML = '';
    snapshot.appendChild(img);
}
</script>
{% endblock %}


