<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title>AthleteDataViz</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    
    <!-- Leaflet -->
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-image/v0.0.4/leaflet-image.js'></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>

    <!-- Mapbox GL -->
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.11.2/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.11.2/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.11.2/mapbox-gl.css' rel='stylesheet' />

    <!-- Mapbox JS -->
    <script src='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.css' rel='stylesheet' />

    <style>
        body { margin:0; padding:0; }
        #map { position:absolute; top:0; bottom:0; width:100%; }
    </style>
</head>
<body>


<br>
<style>


.ui-button {
  position:absolute;
  top:25px;
  right:10px;
  z-index:1000;
  }
.ui-button2 {
  position:absolute;
  top: 25px;
  right:10px;
  z-index:1000;
  }
.ui-button3 {
  position:absolute;
  top: 75px;
  right:10px;
  z-index:1000;
  }
  .ui-button4 {
  position:absolute;
  top: 125px;
  right:10px;
  z-index:1000;
  }
  .ui-button5 {
  position:absolute;
  top: 175px;
  right:10px;
  z-index:1000;
  }
#map {
  width:100%;
  }
#snapshot {
  position:absolute;
  top:0;bottom:0;right:0;
  width:10%;
  }
</style>

<form action="{{ url_for('homepage') }}" class='ui-button2'>
    <input type="submit" value="Return to Home" style="font-size: 20px;">
</form>

<div title="Choose line Color">
<select id='line_color' name="line_color" onclick="render()" class="ui-button3" style="font-size: 20px;">
  <option value="#FFFF00">Yellow</option>
  <option value="#FF0000">Red</option>
  <option value="#0000FF">Blue</option>
</select>
</div>

<div title="Choose line width">
<select id='line_width' name="line_width" onclick="render()" class="ui-button4" style="font-size: 20px;">
  <option value=2>Normal</option>
  <option value=1>Thin</option>
  <option value=3>Bold</option>
</select>
</div>

<div title="Choose opacity">
<select id='line_opacity' onclick="render()" name="line_opacity" class="ui-button5" style="font-size: 20px;">
  <option value=0.2>Medium</option>
  <option value=0.1>Low</option>
  <option value=0.3>High</option>
</select>
</div>

<style>
    #render_map {
        display: block;
        position: relative;
        margin: 25px auto;
        width: 20%;
        height: 50px;
        padding: 15px auto;
        border: none;
        border-radius: 5px;
        font-size: 18px;
        text-align: center;
        color: #fff;
        background: #ee8a65;
    }
</style>

<div id='map'></div>

<button onclick="window.location='http://athletedataviz.com/products';" method='GET' id='render_map'>Order Viz!</button>

<!-- Mapbox JS extended to Mapbox GL JS !-->
<script src="/static/js/leaflet-mapbox-gl.js"></script>
<!-- Leaflet Heat !-->
<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-heat/v0.1.3/leaflet-heat.js'></script>

<!-- Create the map -->
<script>
// API tokens 
L.mapbox.accessToken = '{{ mapbox_accessToken|safe }}';
mapboxgl.accessToken = '{{ mapbox_gl_accessToken|safe }}';

// user-selected variables 
var line_color = document.getElementById("line_color").value;
var line_opacity = document.getElementById("line_opacity").value;
var line_width = document.getElementById("line_width").value;

// data passed from flask back-end 
var center_point = [{{ avg_lat|safe }}, {{ avg_long|safe }}]
//var stravaLineGeoJson = {{ geojson_data|safe }} ;
//var stravaPointGeoJson = {{ geojson_points|safe }} ;
//var stravaPointsLst = {{ pointslst|safe }} ;
var heatPoints =  {{ heatpoints|safe }} ; 

// Mapbox JS Api - import heatmap layer 
var map = L.mapbox.map('map', 'mapbox.dark').setView(center_point, 7);

heatPoints = heatPoints.map(function (p) { return [p['lat'], p['long'], p['density']]; });
var heat = L.heatLayer(heatPoints, 
                       {minOpacity: 10,
                        maxZoom: 16,
                        max: 5,
                        radius: 4,
                        blur: 8,
                        gradient: {0.4: 'blue', 
                                   0.8: 'lime', 
                                   0.9: 'red'} }).addTo(map);

/*
var map = L.mapbox.map('map', 'mapbox.light');
var heat = L.heatLayer(heatPoints, {maxZoom: 18}).addTo(map);
map.fitBounds(heat.getBounds());

var style2 = {
    width : 5,
    weight: 3,
    opacity : 0.3,
    color: 'red'
    };
*/
/*
var featureLayer = L.mapbox.featureLayer()
                   .setGeoJSON(stravaLineGeoJson)
                   .addTo(map);
*/
//featureLayer.setStyle(style2)
//map.fitBounds(featureLayer.getBounds());
//map.fitBounds(heat.getBounds());
/*var gl = L.mapboxGL({
    accessToken: mapboxgl.accessToken,
    style: 'mapbox://styles/mapbox/dark-v8'
}).addTo(map);*/

/*
var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/dark-v8',
    center : center_point,
    zoom: 9,
    minZoom: 4,
    maxZoom: 18
});

var stravaPointGeoJson = {{ geojson_points|safe }} ;

var linestring_src = new mapboxgl.GeoJSONSource({
    data: stravaLineGeoJson,
    maxzoom : 14,
    buffer : 5,
    tolerance : 100
});

var point_src = new mapboxgl.GeoJSONSource({
    data: stravaPointGeoJson,
    maxzoom : 14,
    buffer : 5,
    tolerance : 100
});
*/

/*map.on('style.load', function () {
    map.addSource('linestring', linestring_src);
    map.addLayer({
        "id": "linestring",
        "type": "line",
        "source": "linestring",
        "layout": {
            "line-cap" : "round",
            "line-join": "round"
        },
        "paint": {
            "line-opacity": line_opacity,
            "line-width": line_width,
            "line-color": line_color
        }
    });
    map.addSource('point', point_src);

    map.addLayer({
        "id": "point",
        "type" : "symbol",
        "source": "point",
        "layout": {
          "icon-image": "marker-15"
        },
        "paint": {}
    });

});
*/
// disable map rotation
//map.dragging.disable();


function render() {
    var line_color = document.getElementById("line_color").value;
    var line_opacity = document.getElementById("line_opacity").value;
    var line_width = document.getElementById("line_width").value;
    heat.redraw();
}

function log(msg) {
    setTimeout(function() {
        throw new Error(msg);
    }, 0);
}

</script>

</body>
</html>

