{% extends "base.html" %} {% block import_script %}
<!-- Mapbox GL -->
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.12.3/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.12.3/mapbox-gl.css' rel='stylesheet'>
<!-- Bootstrap Slider -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/5.2.5/css/bootstrap-slider.min.css">
<script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/5.2.5/bootstrap-slider.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.15/jquery.touchSwipe.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/javascript-canvas-to-blob/3.1.0/js/canvas-to-blob.min.js"></script>
{% endblock %} {% block content %}
<div id="container">
    <div id="map">
        <div id="loading">
            <div class="loading-indicator">
                <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-info progress-bar-full"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
//initialize variables from server
var heatpoint_src;
var heatpoint_data;
var center_point = [{{avg_long | safe}}, {{avg_lat | safe}}];
var heatpoint_url = '{{ heatline2_url | safe}}';
var mapbox_accessToken = '{{ mapbox_accessToken|safe }}';
var mapboxgl_accessToken = '{{ mapbox_gl_accessToken|safe }}';
var ath_name = '{{ath_name}}';
mapboxgl.accessToken = mapboxgl_accessToken;

try {
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/rsbaumann/ciiia74pe00298ulxsin2emmn',
        center: mapboxgl.LngLat.convert(center_point),
        zoom: 6,
        minZoom: 1,
        maxZoom: 20,
        attributionControl: true
    });
} catch (e) {
    var mapContainer = document.getElementById('map');
    mapContainer.parentNode.removeChild(mapContainer);
    document.getElementById('config-fields').setAttribute('disabled', 'yes');
    openErrorModal('This site requires WebGL, but your browser doesn\'t seem' +
        ' to support it. Sorry.');
}

map.addControl(new mapboxgl.Navigation({
    position: 'top-left'
}));
map.dragRotate.disable();
map.touchZoomRotate.disableRotation();

map.on('style.load', function() {
    addLayerLinestring();
});

function addLayerLinestring() {
    heatpoint_src = new mapboxgl.GeoJSONSource({
        data: heatpoint_url,
        maxzoom: 17,
        buffer: 10,
        tolerance: 0.5
    });
    console.log('source created!');
    try {
        map.addSource('heatpoint', heatpoint_src);
    } catch (err) {
        console.log(err);
    }
    console.log('source added to map!');
    try {
        var heatpoint_style = {
            "id": "heatpoints",
            "type": "circle",
            "source": 'heatpoint',
            "interactive": true,
            "layout": {},
            "paint": {
                "circle-color": "red"
            }
        }
        
        map.addLayer(heatpoint_style);
    } catch (err) {
        console.log(err);
    }
    //paintLayer(map, "#FF0000", 2, 1, 'linestring2');
    console.log('layer added!');

    $("#loading").hide();
    //map.setStyle(mapStyle);
};

map.on('click', function (e) {
    map.featuresAt(e.point, {layer: 'heatpoints', radius: 10, includeGeometry: true}, function (err, features) {
        if (err || !features.length)
            return;

        var feature = features[0];

        new mapboxgl.Popup()
            .setLngLat(feature.geometry.coordinates)
            .setHTML('<h5> Coords: ' + Math.round(feature.geometry.coordinates[1]*1000)/1000 + "," +
                                       Math.round(feature.geometry.coordinates[0]*1000)/1000 + '</h5>' +
                     '<ul class="list-group">' +
                     '<li class="list-group-item"> Freq: ' + feature.properties.d + " visits </li>" +
                     '<li class="list-group-item"> Speed: ' + feature.properties.s + " mph </li>" +
                     '<li class="list-group-item"> Grade: ' + feature.properties.g + " % </li>" +
                     '</ul>')
            .addTo(map);
    });
});

//circle heatmap styling for Mapbox GL JS

console.log(mapStyle)
function set_visibility(mapid, id, onoff) {
    var visibility = mapid.getLayoutProperty(id, 'visibility');
    if (onoff == 'off') {
        mapid.setLayoutProperty(id, 'visibility', 'none');
    } else if (onoff == 'on') {
        mapid.setLayoutProperty(id, 'visibility', 'visible');
    }
};

function paintLayer(mapid, color, width, opacity, layer) {
    mapid.setPaintProperty(layer, 'line-color', color);
    mapid.setPaintProperty(layer, 'line-width', width);
    mapid.setPaintProperty(layer, 'line-opacity', opacity);
}

//Stop the loading bar when ajax requests complete
$(document).one("ajaxStop", function() {
    $("#loading").hide();
});
</script>
{% endblock %}
